{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View users posts</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'test_task/style.css' %}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">

            <div class="button">
                <a class="btn btn-dark" href="{% url 'upload_data' %}">Загрузить данные</a>
            </div>
            <table class="table">
                <thead class="thead-dark">
                <tr scope="row">
                    <th scope="col" class="text-center align-middle">Имя пользователя</th>
                    <th scope="col" class="text-center align-middle">Тема поста</th>
                    <th scope="col" class="text-center align-middle">Текст поста</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    {% for post in user.posts.all %}
                        <tr>
                            <td>{{ user.name }} </td>
                            <td>{{ post.title }}</td>
                            <td>{{ post.body }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>